#crear un arxiu amb nom .env a la carpeta arrel del projecte
#Copiar el contingut d'aquest arxiu a .env

# Credencials de Docker PostgreSQL —
POSTGRES_DB=abyssal_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=abyssal_db
