#crear un arxiu amb nom .env a la carpeta arrel del projecte
#Copiar el contingut d'aquest arxiu a .env

# Credencials de Docker PostgreSQL
#POSTGRES_DB=abyssal_db
#POSTGRES_USER=el_meu_usuari_local
#POSTGRES_PASSWORD=el_meu_password_local
